* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url("kuliAssets/img3.jpg");
  background-size: cover;
  height: 100vh; /* Ubah tinggi dengan mengurangkan padding */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 7rem 0 7rem;
  position: fixed; /* Mengubah posisi menjadi fixed */
  top: 0;
  width: 100%; /* Menetapkan lebar 100% agar mengisi seluruh lebar layar */
  height: 5vh;
  background-color: transparent;
  z-index: 999;
}

nav h1 {
  color: #91ddcf;
  font-size: 3rem;
  font-weight: bolder;
  padding-top: 0;
}

nav ul {
  display: flex;
  padding: 0 15rem 10px 0; /* Mengubah padding menjadi 10px di atas dan bawah */
  margin: 0; /* Menghilangkan margin default */
  list-style: none; /* Menghilangkan tanda bullet dari list */
}

nav li a {
  font-size: 2rem;
  text-decoration: none;
  padding: 0 4rem; /* Mengurangi padding atas dan bawah */
  color: white;
  transition: all 0.3s ease-in-out;
}

nav li a:hover {
  font-size: 2.2rem;
  font-weight: bold;
  color: #e8c872;
}

.header-content {
  padding: 13rem 10rem;

  display: flex;
  align-items: center;
}

.header-content h1 {
  padding: 5rem 2rem;
  font-size: 8rem;
  color: white;
}

.highlighted-text {
  color: #91ddcf;
}
